*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial;
    background-image: url("IMG/Playboy.jpg");
}

.form-login {
    width: 460px;
    height: 370px;
    background: aqua;
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px black;
    padding: 20px 30px;
    border-top: 4px solid #017bad;
    color:black;
}

.form-login h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    font-size: 20px;
}

.controls {
    width: 100%;
    border: 1px solid #017bad;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: white;
    font-size: 14px;
    font-weight: bold;
}

.buttons {
    width: 100%;
    height: 40px;
    background: #017bad;
    border: none;
    color: white;
    margin-bottom: 16px;
}

.form-login p{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
}

.form-login a{
    color: black;
    text-decoration: none;
    font-size: 14px;    
}

.form-login a:hover {
    text-decoration: underline;
}