div{
    background-image: url(IMG/descarga.jpg); 
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;

}
header{
    background-color: aqua;
    color:black ;
    text-align:center ;
    padding:0;
    
    
    
}

img.image{
    font-family: 15px arial;
    font-size: 15px;
    width: 30vh;
    height: 10vh;
}

nav ul{
    list-style: none;
    padding:0;

}

nav li{
    display: inline;
    margin: 0 20px;
}
img.image{
    font-family: 15px arial;
    font-size: 15px;
    width: 30vh;
    height: 10vh;
}